@{
    ViewBag.Title = "About";
}

<!-- page: ABOUT -->
<section id="about" class="l-section">
  
    <div class="l-subsection">
        <div class="l-subsection-h">
            <div class="l-subsection-hh g-html i-cf">

                <h2><strong>About EVAC</strong></h2>

                <div class="g-hr type_short">
                    <span class="g-hr-h">
                        <i class="fa fa-square"></i>
                    </span>
                </div>

                <p class="subtitle">
                    <strong class="highlight">The mission of EVAC’s </strong>
                    social venture is to create a new organization and culture that
                    <strong class="highlight">supports and encourages veterans to use art </strong>
                    as a tool for self-expression, a means to communicate with their families and communities, and successfully reassimilate back into society and their
                    <strong class="highlight">new lives as disabled American veterans.</strong>
                </p>

                <div class="g-hr type_invisible"></div>



            </div>
        </div>
    </div>
    <div class="l-subsection color_alternate">
        <div class="l-subsection-h">
            <div class="l-subsection-hh g-html i-cf">
                <h4 class="subtitle">How It Works</h4>

                <div class="g-cols">
                    <div class="one-half">
                        <p class="align_left">
                            Our purpose is to set up a network of physical and online resources that encourage and support our nation’s veterans to pursue their creative endeavors.
                            By creating a new program and culture that is a positive self-constructive outlet,
                            we can begin to break down the self-destructive habits veterans develop when returning to their families, communities and suffocating government based bureaucracy.
                        </p>
                    </div>
                    <div class="one-half">
                        <p class="align_left">
                            EVAC-art.com and Iron Will Studios gives veterans the support,
                            platform, and space needed to create and showcase their creative work and talents regardless of abilities and disabilities.
                            This allows veterans to find an empowering, constructive, & motivational outlet with a beneficial, rewarding product.
                        </p>
                    </div>
                </div>




            </div>
        </div>
    </div>
    @*</div></div>*@

</section>
