@{
    ViewBag.Title = "Products";
}

<title>Company Philosophy</title>

<section id="about" class="l-section">

    <div class="l-subsection">
        <div class="l-subsection-h">
            <div class="l-subsection-hh g-html i-cf">

                <h2><strong>Company Philosophy</strong></h2>

                <div class="g-hr type_short">
                    <span class="g-hr-h">
                        <i class="fa fa-square"></i>
                    </span>
                </div>

                <p class="subtitle">
                    <strong class="highlight">“Buy one Vet one”  </strong>
                    is the unique philosophy of this social venture.
                    <strong class="highlight"> Any products and/or services purchased are in-turn given to a veteran and their family free of charge. </strong>
                    This enables us to provide showcasing opportunities and provide basic art making materials for veterans and their families.
                    <strong class="highlight">All proceeds from EVAC are donated to Operation: Art 501(c)(3) veteran art programs.</strong>
                </p>

                <div class="g-hr type_invisible"></div>


</div></div>
            </div>
</section>